s<!DOCTYPE html> 
<head>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>The Next Chapter Bookstore</title>
<link href="ncb.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="crawler.js">
/* Text and/or Image Crawler Script v1.5 (c)2009-2011 John Davenport Scheuer
   as first seen in http://www.dynamicdrive.com/forums/
   username: jscheuer1 - This Notice Must Remain for Legal Use
   updated: 4/2011 for random order option, more (see below)
*/
</script>
</head>
<body alink="#5a2d16" link="#5a2d16" vlink="#5a2d16">
<div id="main_container">
  <div id="header">
   &nbsp;&nbsp;<img src="content/nextchapter1.jpg" height="250" width="900" align="center">
    <span align="center"><font color="#5a2d16" size="3"><BR><BR>
    <img src="content/blanks.gif" width="120" height="2">
	<a href="index.htm">Home</a> &nbsp;|&nbsp;
      <a href="About Us.htm">About Us</a> &nbsp;|&nbsp; 
      <a href="products.htm">Products</a> &nbsp;|&nbsp;
      <a href="staff.htm">Staff</a> &nbsp;|&nbsp;
      <a href="contact us.htm">Contact Us</a> &nbsp;|&nbsp;
      <a href="Events.htm">Events</a>&nbsp;|&nbsp;
      <a href="https://www.facebook.com/pages/Next-Chapter-Bookstore-Books-That-Change-Lives-/136173466404563">
              <img src="content/facebook.png" length="20" width="20"> Facebook   </a> <Br>  </span>
      <BR> &nbsp;&nbsp;&nbsp;&nbsp;

	<!--  <a href="mazda-miata.htm"><marquee align="middle" bgcolor="red" style="color: white; font-style: italic; font-weight: 
                     bold; font-family:Arial Narrow; font-size:20pt" width="91%" height="36" scrollamount="7" 
                     scrolldelay="100">Win a Mazda Miata. Click on this message to find out how! 
       </marquee></a><br>  -->

<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0 align="center">
   <TR><TD> <BR> <a href="bjb flyer 2018.htm"><marquee align="middle" bgcolor="red" style="color: white; font-style: italic; font-weight: 
                     bold; font-family:Arial Narrow; font-size:24pt" width="99%" height="42" scrollamount="7" 
                     scrolldelay="100">Our next fund raising event is "Blue Jeans and Bets 2018" on Friday August 10<sup>th</sup>. 
					 Click on this message to find out more! 
       </marquee></a><br></td></tr>
    </table> <BR>		
	   
      <BR> &nbsp;&nbsp;&nbsp;&nbsp;	
	
	<a href="amazon-kroger awards.htm"><marquee align="middle" bgcolor="#5a2d16" style="color: white; font-style: italic; font-weight: 
                     bold; font-family:Arial Narrow; font-size:20pt" width="91%" height="36" scrollamount="7" 
                     scrolldelay="100">Support us when shopping at Amazon.com and Kroger. Click on this message to find out more!  
       </marquee></a>  
<!-- <TABLE cellSpacing=0 cellPadding=0 width="1045" border=0 align="center">
   <TR><TD width="75">&nbsp;</TD><TD align="center"> <BR> &nbsp;&nbsp;&nbsp;-->
   <!--<a href="ticket.htm"><marquee align="middle" bgcolor="#5a2d16" style="color: white; font-style: italic; font-weight: 
                     bold; font-family:Arial Narrow; font-size:20pt" width="91%" height="36" scrollamount="7" 
                     scrolldelay="100">On March 31th, we will have our Annual Reverse Auction, in memory of Craig Minnix.  Click on this message to find out more! 
       </marquee></a><br></td></tr>-->
 <!--    <BR> 	<BR>&nbsp;&nbsp;&nbsp;&nbsp;	
			<a href="Events.htm"><marquee align="middle" bgcolor="#5a2d16" style="color: white; font-style: italic; font-weight: 
                     bold; font-family:Arial Narrow; font-size:20pt" width="91%" height="36" scrollamount="7" 
                     scrolldelay="100">Our Annual Book sale - October 5th thru 8th. Click on this message to find out more! 
       </marquee></a>  --> </td></tr> </table> 
		</div>
	 <h2 align="center">Mission Statement </h2> 
  </font>
      <font size="3" color="#5a2d16">
The Next Chapter Book Store, Inc. is a non-profit a 501(c)(3). The mission of <strong>Our 
Neighbor</strong> and <strong>The Next Chapter Bookstore</strong> is to assist and inspire those with disabilities 
to reach their maximum opportunity for independence.  </font><br><br> 


	<div id="left_column">
<strong>&nbsp;&nbsp;&nbsp;Our staff is waiting to serve you </strong><BR><BR><img src="content/staff.jpg" length="260" width="330"></font>
     <br><br>
<font color="#5a2d16" size="3">  
     <img src="content/blanks.gif" width="70" height="2"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Photo Gallery </strong>

<div class="marquee" id="mycrawler2">
<img <img src="content/107.jpg" /> <img src="content/108.jpg" /> <img src="content/109.jpg" /> <img src="content/127.jpg" /><img src="content/staff1.jpg" />
<img src="content/114.jpg" /> <img src="content/112.jpg" /> <img src="content/128.jpg" /> <img src="content/118.jpg" /> <img src="content/122.jpg" />
</div>


<script type="text/javascript">
marqueeInit({
	uniqueid: 'mycrawler2',
	style: {
		'padding': '2px',
		'width': '330px',
		'height': '200px'
	},
	inc: 7, //speed - pixel increment for each iteration of this marquee's movement
	mouse: 'cursor driven', //mouseover behavior ('pause' 'cursor driven' or false)
	moveatleast: 2,
	neutral: 150,
	savedirection: true,
	random:true
});
</script> 

  </div>
   <div id="center_column">
    <font color="#5a2d16" size="3"><bold><big><strong>&nbsp;&nbsp;Donate your books</strong></big> <br></font><font color="#5a2d16"size="2">
     Free Pick-up and Tax Receipt Provided</big></font><BR>
         <img src="content/blanks.gif" width="50" height="2"><img src="content/books.jpg" length="120" width="120"><br><br>
         <img src="content/blanks.gif" width="30" height="2"><a href="contact us-2.htm"><img src="content/donation-pickup.jpg"></a> <br><br>
         <font color="#5a2d16" size="3"><big><strong>&nbsp;&nbsp;&nbsp;Donate your time</strong></big></font><br>
         <font color="#5a2d16" size="2">Volunteers are always needed to help out at the bookstore. 
         Great opportunity for service hours, as well! Call 770-538-READ for info.</font>
  </div>
 <div id="right_column"> <font color="#5a2d16" size="2">
 The Next Chapter Bookstore is conveniently located on the corner of Main and Spring Streets 
inside the MAIN STREET MARKET, on the historic downtown Gainesville square. 
To get driving directions to our bookstore please click on the map.<br>
<BR>
<a target="_blank" href="http://maps.google.com/maps?q=118+Main+Street++Gainesville,+GA,+30501&amp;oe=utf-8&amp;rls=org.mozilla:en-US:official&amp;client=firefox-a&amp;um=1&amp;ie=UTF-8&amp;sa=N&amp;hl=en&amp;tab=wl">
<img height="187" width="273" src="content/mappic.gif"></a>
<BR>
<br>
118 Main Street, Gainesville, GA <br>
770-538-READ <img src="content/blanks.gif" width="100" height="2">30501<br>
Hours: Mon.-Fri.: 11:00 a.m.-5:00 p.m.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sat.: 10:00 a.m.-3:00 p.m.</font>

  </div>

  <div id="footer">
    <BR><img src="content/blanks.gif" width="120" height="2">
      <a href="Index.htm">Home</a> &nbsp;|&nbsp;
      <a href="about us.htm">About Us</a> &nbsp;|&nbsp; 
      <a href="products.htm">Products</a> &nbsp;|&nbsp;
      <a href="Staff.htm">Staff</a> &nbsp;|&nbsp;
      <a href="Contact us.htm">Contact Us</a> &nbsp;|&nbsp;
      <a href="events.htm">Events</a> &nbsp;|&nbsp;
      <a href="https://www.facebook.com/pages/Next-Chapter-Bookstore-Books-That-Change-Lives-/136173466404563">
              <img src="content/facebook.png" length="20" width="20"> Facebook   </a> <Br>
	<font color="#5a2d16" size="1"><img src="content/blanks.gif" width="300" height="2">
     &copy; <script type="text/javascript">copyright=new Date();update=copyright.getFullYear();document.write(update);</script> 
            The Next Chapter Bookstore  All Rights Reserved.
  </div>
</div>
</body>
</html>
